<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Book</h1>
    <h2>{{ restaurant.name }}</h2>
    <p>{{ restaurant.address }}</p>
    <form action="/confirm_book" method="post">
        <input type="hidden" name="restaurant_id" value="{{ restaurant.id }}">
        <select name="slot">
            {% for slot in restaurant.slots %}
                <option value="{{ slot }}">{{ slot }}</option>
            {% endfor %}
        </select>
        <button type="submit">Book</button>
    </form>
</body>
</html>