<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dining Reservation</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/home.css') }}"/>
</head>
<body>
    <div class="container">
        <h1>Hello</h1>
        <div class="signup-login">
            <a href="/signup" class="btn">Sign Up</a>
            <a href="/login" class="btn">Login</a>
            <a href="/admin" class="btn">Admin</a>
        </div>
    </div>
</body>
</html>
